* {
    margin: 0;
}

body {
    min-height: 1000vh;
    overflow-x: hidden;
    background-color: #3f0097;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}